/*
div{
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    border: 2px solid red;
    border-radius: 5px;
    padding: 25px;
    margin: 25px
}
h1{
    width: 200px;
    height: 50px;
    background-color: yellowgreen;
    border-color: blue;
    border-style: dotted;
    border-width: 2px;
    text-align: center;
    border-radius: 30px;
    justify-content: center;
} */

/* div{
    width: 100px;
    height: 100px;
    background-color: rgb(225, 132, 11);
    border-radius: 5px;
    border-color:tomato
    margin:25px;
}

#one{
    background-color: yellowgreen;
    border-radius: 50px;
}
#two{
    background-color: tomato;
    border-radius: 50px;
}
#three{
    background-color: yellow;
    border-radius: 50px;
} */




/* #navbar{
    height: 60px;
    background-color: #0f0000;
    color: aliceblue;
}

#button{
    background-color: #f08800;
    padding: 1px;
}

#logo{
    color: #f08800;
    font-size: 25px;
    margin-left: 15px;
    text-align: center;
}
a{
    margin-right: 240px;
    text-decoration: none;
} 


.contentbox{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    display: inline-block;
    color: aliceblue;
    margin: 25px;
    justify-content: center;
    text-align: center;


}
footer{
    background-color: #0f0000;
    color: white;
    text-align: center;
}
#content{
    height: 600px;
} */


